

<h2>Create</h2>

<div class="form-horizontal" ng-controller="courseController">
    <h4>Course</h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2">Course Name</label>
        <div class="col-md-10">
            <input type="text" class="form-control" ng-model="Course_Name" required />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Course Status</label>
        <div class="col-md-10">
            <input type="text" class="form-control" ng-model="Course_Status" required />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-success" value="Save" ng-click="AddOrUpdateCourses()" />
        </div>
    </div>
</div>

<div>
    <a class="btn btn-default" href="/Courses">Back</a>
</div>


