
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div ng-controller="courseController">
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal"  ng-init="getCourseById();">
        <dt>
            Course Name
        </dt>

        <dd>
            {{course.Course_Name}}
        </dd>

        <dt>
            Course Status
        </dt>

        <dd>
            {{(course.Course_Status == 1) ? 'Active Course' : 'Hold'}}
        </dd>

    </dl>


    <div class="form-actions no-color">

        <a class="btn btn-default" href="/Courses">Back</a> |
        <input type="button" class="btn btn-danger" value="Delete" ng-click="deleteCourse()" />
    </div>
</div>
